body {
    background-color: green;
}

h1 {
    /* text-align: center; */
	position: absolute;
	top: 0%;
	left: 25%;
    color: orange;
	font-style: oblique;
	font-size: 300px;
	background: align-center;
	z-index: -1;
	/* vertical-align: center; */
}

.container {
	width: 989px;
	margin: 0 auto;
}

.opponent {
	text-align: center;
	/* border: solid 1px white; */
	/* border-radius: 3px; */
}

.opCard {
	/* border: thick solid white; */
	width:150px;
	height:170px;
}

.oCard {
	display: inline-block;
}

.gameDeck {
	/* border: thick solid white; */
	width:150px;
	height:170px;
}

.gameAction {
	text-align: center;
}

.player {
	text-align: center;
}

#playerDeck.card {
	padding: 50px;
	/* border: thick solid white; */
}

.card {
	/* top-align: auto */
	padding: 15px;
	display: inline-block;
}

.button {
    background-color: #FF0000;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 125px;
	height: 50px;
	margin-bottom: 50px;
}

#gameDeck.card {
	visibility: visible;
}

/* .handCard {
	border: thick solid white;
} */
/* #playerCard2 {
	border: thick solid white;
} *
/* #playerCard3 {
	border: thick solid white;
} */
/* #playerCard4 {
	border: thick solid white;
} */
/* #playerCard5 {
	border: thick solid white;
} */








